@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Spectral+SC:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&family=Xanh+Mono&display=swap");
.about {
  margin-top: 10px;
  text-align: center;
}
h1 {
  font-family: "Henny Penny", cursive;
}
.about-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.salimia {
  width: 600px;
  height: 300px;
  object-fit: cover;
}
.ds h3 {
  text-align: center;
  color: white;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 20px;
}
.desc {
  width: 600px;
  background-color: #34568b;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-family: "Work Sans", sans-serif;
}
.hosi h3 {
  color: blue;
}
.team {
  text-align: center;
}
.hospitals {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
}
.hosi1 {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.hosi {
  width: 500px;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .salimia {
    width: 90vw;
    height: 400px;
  }
  .about-content {
    padding: 10px;
  }
  .desc {
    width: 90vw;
    height: 300px;
  }
  .hosi {
    width: 90vw;
  }
  .hosi1 {
    height: 200px;
  }
}
