/* default css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.header-area {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../../images/daktari.jpg);
  background-position: center center;
  background-size: cover;
}
/* default css end */

/* navbar regular css start */
.navbar-area {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #000;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* navbar regular css end */

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* intro-area css start */
.intro-area {
  height: calc(60vh - 61px);
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
}
.intro-area p {
  font-size: 18px;
}

/* intro-area css end */
.con {
  position: relative;
  width: 35em;
  margin: auto;
  transition: transform 2s ease;
  color: #fff;
}

.con:hover .front {
  transform: rotateY(-180deg);
  z-index: 0;
}

.con:hover .back {
  transform: rotateY(0deg);
}

.con > div {
  height: 350px;
  display: flex;
  align-items: center;
  flex-flow: column;
  border-radius: 24px;
  text-align: center;
  transition: transform 2s ease;
  justify-content: space-evenly;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
}

.front {
  position: relative;
  padding: 3em 5em;
  z-index: 1;
  background: url(https://img.freepik.com/free-vector/black-dark-3d-low-poly-geometric-background_79145-393.jpg?size=626&ext=jpg);
}

.front > *,
.back > * {
  transform: translateZ(100px);
  transition: transform 0.3s ease;
}

.title {
  position: relative;
}

.title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 50%;
  height: 4px;
  border-radius: 2px;
  background: #00ff5a;
  transform: translateX(-50%);
}

.description {
  margin-top: 1.5em;
  display: block;
  line-height: 150%;
}

.back {
  top: 0;
  position: absolute;
  padding: 3em;
  transform: rotateY(180deg);
  width: 100%;
  background: #222;
}

.back .title {
  margin-bottom: 8px;
}

.input-box {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

input,
textarea {
  color: #fff;
  width: 80%;
  border: none;
  padding: 4px 0;
  border-bottom: 1px solid #fff;
  outline: none;
  background: none;
  margin-top: 20px;
  resize: none;
}

label {
  position: absolute;
  font-size: 13px;
  left: 10%;
  top: 24px;
  pointer-events: none;
  transition: all 0.2s;
}

.input-box input:focus,
.input-box textarea:focus {
  border-bottom: 2px solid #00ff5a;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box textarea:focus ~ label,
.input-box textarea:valid ~ label {
  top: 10px;
  font-size: 10px;
  color: #00ff5a;
}

.send {
  padding: 8px 24px;
  margin-top: 1em;
  border: 2px solid #00ff5a;
  border-radius: 20px;
  background: transparent;
  color: #00ff5a;
  cursor: pointer;
}

.send:focus,
.send:active {
  background: #00ff5a;
  color: #2b2b2b;
  outline: none;
}
/* mobile breakpoint start */
.about {
  width: 50vw;
  text-align: center;
}
.contact {
  width: 50vw;
  text-align: center;
}
.rest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about hr {
  border: none;
  height: 20px;
  width: 50%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  .about {
    width: 90vw;
    margin: auto;
  }
  .contact {
    width: 90vw;
    margin: auto;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
    z-index: 1;
  }
  .con {
    width: 25em;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  /* navbar css for mobile end */
}
/* mobile breakpoint end */
